* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
 
  }
  
  .main_container {
    min-height: 100vh;
  }
  
  .digital_marketing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 18rem;
    height: fit-content;
  }
  
  .digital_right img {
    width: 50%;
    margin-top: 2rem;
  }
  
  
  .modal {
    display: flex; 
    justify-content: center;
    align-items: center; 
    
    width: 100%; 
    height: 100%; 
    margin: auto;
    overflow: auto;
    background: rgba(128, 128, 128, 0.8);
  }
  
  .modal-content {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    height: fit-content;
    position: relative; 
    top: 35vh;
  }
  
  .modal-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
  
  .modal-name input {
    border: none;
    border-bottom: 1px solid red;
    border-radius: 0;
    width: 100%;
  }
  
  .modal-email input {
    border: none;
    border-bottom: 1px solid red;
    border-radius: 0;
    width: 100%;
  }
  
  .custom-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .custom-checkbox input {
    position: relative;
    opacity: 0;
    cursor: pointer;
  }
  
  .custom-checkbox p {
    margin: 0;
  }
  
  .checkmark {
    position: relative;
    height: 20px;
    width: 30px;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 5px;
  }
  
  .custom-checkbox input:checked ~ .checkmark {
    background-color: red;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .custom-checkbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  
  .modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .modal-btn button {
    padding: 10px 20px;
    width: 100%;
    border: none;
    background: red;
    color: white;
    border-radius: 5px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* ------------------- Services -------------------- */
.card {
  flex: 1;
  margin: 0 10px;
}
.services {
  padding-left: 18rem;
  background-color: #F4F4F4; 
  height: fit-content; 
  margin-bottom: 3rem;
}

.services_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding-top: 5rem;
}
.services-para{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  gap: 2rem;
}

.services-para h2
{
  width: 25%;
}
.services-para p{
  padding-left: 4rem;
  width: 50%;
}
.services_img {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.services_img img{
  width: 250px;
 
}

.services_img .card{
  width: 250px;
  height: 355px;

}
.card .card-body
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.arrow{
  width: 25px !important;
  margin-bottom: 8px !important;
}
.icon{
  width: 55px !important;
  margin-bottom: 30px;
}

.card {
  position: relative;
  overflow: hidden;
  
}
.card-btn{
  border: none;
  background: white !important;
  border-radius: 0 !important;
}
.card-btn:hover{
  background: rgb(197, 195, 195) !important;
  
  transition: ease-in-out 0.3s;
  
}
.service-img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
  
 
}
.card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red; 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.card:hover .service-img {
  opacity: 0;
}
.card:hover .card-body {
  opacity: 1;
}

.points{
  width: 20%;
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .5rem;
  padding-bottom: 4rem;
  
}
.points .img-1{
    width: 4%!important;
    height: 3%;
    cursor: pointer;
}

.points .img-2{
    width: 4%!important;
  height: 3%;
  cursor: pointer;
}
.points .img-3{
    width: 4%!important;
  height: 3%;
  cursor: pointer;
}


.carousel-dot {
    opacity: 0.5;
    cursor: pointer;
  }
  
  .carousel-dot.active {
    opacity: 1;
    border: red 1px solid;
    width: 10%!important;
    
    padding: .40rem;
    border-radius: 50%;
  }

/* ------------------ choose us ---------------------- */

#chooseUs{
  
  height: fit-content;
  padding-left: 18rem;
  padding-right: 18rem;
}
.choose-content{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.choose-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.our-project{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}





.project-imgs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  
}
.project-img{
  flex: 1 1 60%;
}
.project-img img{
  width: 100%;
  height: 65vh;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
  /* top: -20rem;
  left: -10rem; */
  
}


.project-content{
  background-color: #F6F6F6;
  flex: 1 1 30%;
  display: flex;justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

.project-content {
  display: flex;
  flex-direction: column;
  gap: .1rem; 
}
.content-item.active {
  background-color: red;
  color: white;
}
.project1, .project2, .project3 {
  width: 100%;
  padding: 1rem; 
  box-sizing: border-box; 
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

/* .project1:hover,.project2:hover,.project3:hover  {
  background-color: rgb(236, 234, 234); 
  
} */






/* ----------------- Growth--------------------- */
#growth{
  background-color: #F4F4F4;
  height: fit-content;
  padding-left: 18rem;
  padding-right: 18rem;
 
}
.growth{
  margin-top: 5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.choose-head2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.growth-content{
  background: #FAFAFA;
  height: 11rem;
  width: 30%;
  padding: 1rem;
  border-radius: 10px;
  font-size: 14px; 
}

.growth-content:hover{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: box-shadow ease-in-out 0.3s;
}

/* ---------------- Feedback --------------------- */
#feedback{
  height: fit-content;
  padding-left: 18rem;
  padding-right: 18rem;
 
}
.feedback{
  margin-top: 3rem !important;
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feedback-content{
  position: relative;
  width: 70%;
}
.quote{
  position: absolute;
  top: -1rem;
  left: -1rem;
}
.name2{
  color: #808080 !important;
 
}

/* ----------------- footer -------------------- */
#footer{
  margin-top: 3rem !important;
  background-color: red;
  height: fit-content;
  padding-left: 18rem;
  padding-right: 18rem;
 
}
.footer{
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;justify-content: center;align-items: center;
}

/* ------------- media query for responsive ----------------- */

@media (max-width: 1480px) {
  .project-content{
    background-color: #F6F6F6;
    width: 40%;
    display: flex;justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }
  .project-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
  }
  .project-img{
    width: 70%;
  }
  .footer img{
    width: 60rem;
   
  } 
}


@media (max-width: 1200px) {
 
  .digital_marketing {
    padding-left: 8rem;
    
  }
  .digital_right img {
    width: 80%;
  }
  .services {
    padding-left: 8rem;
    padding-right: 2rem;
  }
  #chooseUs{
    height: fit-content;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .growth-content{
    background: #FAFAFA;
    height: 11rem;
    width: 40%;
    padding: 1rem;
    border-radius: 10px;
    font-size: 14px; 
  }
  #growth{
    padding-left: 8rem;
    padding-right: 8rem;
   
  }
  #feedback{
    height: fit-content;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  #footer{
    padding-left: 8rem;
    padding-right: 8rem;
   
  }
}


@media (max-width: 992px) {
  .digital_marketing {
    flex-direction: column;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .digital_left {
    padding-left: 0;
  }

  .digital_right img {
    width: 80%;
  }
  #growth{
    padding-left: 5rem;
    padding-right: 5rem;
   
  }
  .feedback-content{
    position: relative;
    width: 100%;
  }

  #feedback{
    height: fit-content;
    padding-left: 8rem;
    padding-right: 8rem;
   
  }
  .footer img{
    width: 45rem;
  }
  
}


@media (max-width: 850px) {
  .project-imgs{
    flex-direction: column;
    gap: 2rem;
    
  }
 
  .project-content{
    width: 100%;
    display: flex;justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .project-img{
    width: 100%;
    padding-left: 0;
  }

  
}


@media (max-width: 768px) {
  .digital_marketing {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .digital_right img {
    width: 100%;
  }
  .services_content {
    align-items: center;
    width: 100%;
    
  }
  .services-para{
    flex-direction: column;
    align-items: center; 
    width: 100%;
  }
  .services-para h2
  {
    width: 100%;
    text-align: center; 
  }
  .services-para p{
    width: 100%;
    text-align: center; 
    padding-left: 0rem;
  }
  .points{
    width: 100%;
    justify-content: center;  
  }
  .points .img-1{
    width: 1%!important;  
  }
  .points .img-2{
    width: 1%!important;
  }
  .points .img-3{
    width: 1%!important;
  }
  .carousel-dot.active {
    padding: .3rem;
    border-radius: 50%;
  }
  .services {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #chooseUs{
  
    height: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }
  .choose-detail{
    flex-direction: column;
  }
  .choose-detail-content{
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .project-img{
    width: 100%;
    height: 20vh;
    padding: 0;
  }
  .choose-head2{
    
    flex-direction: column;
    width: 100%;
  }
  .growth-content{
    background: #FAFAFA;
    height: 11rem;
    width: 90%;
    padding: 1rem;
    border-radius: 10px;
    font-size: 14px; 
  }
  .footer img{
    width: 35rem;
  }

}


@media (max-width: 576px) {
  .digital_marketing {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .digital_left h3,
  .digital_left h1,
  .digital_left p,
  .digital_left button {
    margin: 0.5rem 0;
  }
  .growth-content{
    background: #FAFAFA;
    height: 11rem;
    width: 90%;
    padding: 1rem;
    border-radius: 10px;
    font-size: 14px; 
  }
  .footer img{
    width: 28rem;
  }
}


@media (max-width: 480px) {
 
  
 
  #growth{
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }
  #feedback{
    height: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }
  .footer img{
    width: 18rem;
  }
}

